CAD/
Datasheets/
Electronics/
Img/
KuleSensorer.txt
NotesNextPCB.txt
Code/MagnetometerRawData
Code/Matlab
Code/Todo.txt
Code/main/.vscode
Code/main/build
Code/CProgramming/.vscode
Code/CProgramming/main.exe
Code/LMSolver/.vscode
Code/LMSolver/main.exe
