CAD/
Datasheets/
Electronics/
Img/
Code/MagnetometerRawData
Code/Matlab
Code/main/.vscode
Code/main/build
Code/CProgramming/
Code/LMSolver/
Code/*.zip
Code/Cstuff
Code/Main Flight Controller Components.txt
Code/ArduinoTTL/
Code/*.txt
*.txt
