CAD/
Datasheets/
Electronics/
Img/
KuleSensorer.txt
NotesNextPCB.txt
Code/MagnetometerRawData
Code/Matlab
Code/Todo.txt
Code/main/.vscode
Code/main/build
Code/CProgramming/
Code/LMSolver/
Code/*.zip
Code/Cstuff
Code/Main Flight Controller Components.txt
Code/ArduinoTTL/
